@media screen and (min-width: 62.5em) {
    /* Animação da parte esquerda para direita */
.animated {
    animation: animated .8s 0.001ms ease forwards; 
}
/* Animação da parte direita para esquerda */
.animated-left {
    animation: animated-left .8s 0.001ms ease forwards; 

}
/* Animação de carregamento dos cards */
.animated-load {
    animation:  animated-load 1s 0.001ms ease forwards;
}
}