.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__container {
    display: flex;
    justify-content: space-between;
    /* background-color: orangered; */
    width: 90%;
    height: 50rem;
}
.icons {
    width: 2.4rem;
    height: 2.4rem;
    color: #FA9E4D;
}
.frame__container iframe {
    order: 2;
    width: 60rem;
    height: 85%;
    border-radius: 5px;
    box-shadow: 0 0 2rem rgba(0,0,0, .15);
    transition: all .5s ease-in-out;
}
.frame__container iframe:hover {
    box-shadow: 0 1.5rem 2rem rgba(0,0,0, .2); 
}
.container__text {
    display: flex;
}
.container__list  {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.container__list .container__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.container__item .paragraph {
    color: #444;
    font-size: 1.5rem;
}
.container__item a:link, a:visited {
    color: #444;
    text-decoration: none;
    transition: all .2s ease;
}

.container__item a:hover {
    color: #FA9E4D;
}