.toggle-menu {
    display: none;
    z-index: 100;
    cursor: pointer;
}


.toggle-bar {
    visibility: hidden; 
    opacity: 0;
    background-color: #FA9E4D;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-bar-active { 
    background-color: #FA9E4D;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}


.close_menu{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 5.5rem;

}
.close_menu .close-toggle {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    color: #444;
}

.menu__nav {
    list-style: none;
}
.nav__list {
    padding: 1.5rem;
}
.nav__list a{
    color: #444;
    text-decoration: none;
    font-size: 5rem;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    padding: 1.5rem;
}

.nav__list a:hover {
    color: #FA9E4D;
    background-color: #444;
}